name: Test

on:
 
  push:
    branches: 
      - main

jobs:
  
  build:
    
    name: Test
    runs-on: ubuntu-latest
   
    steps:
  
    - name: Check out code
      uses: actions/checkout@v2

    - name: Pip install dev dependencies
      run: pip install -r ./requirements-dev.txt

    - name: Run type linting
      run: pytype .

    - name: Run style linting
      run: pylint *.py
